@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--color-theme1: #669900;/* (marrom escuro)*/
--color-theme2: #FFCC00;/* (amarelo vibrante)*/
--color-theme3: #8B4513;/* (verde oliva)*/
--color-theme4: #FFFFFF;/* (branco)*/
--color-theme5: #333333;/* (cinza escuro)*/
--color-gray1:#595959;
--color-gray2:#999999;
--color-gray3:#f1f1e0;

--fnt-titulo: "Poetsen One", sans-serif;
--fnt-corpo: "Open Sans", sans-serif;
}

body{
    min-height: 100vh;
    font-family: var(--fnt-corpo);
    font-weight: 400;
    /* background-image: url(../imagens/bg-amarelo-comidas.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: var(--color-gray3);
    
}

.cabecalho__container, .principal__container, .rodape__container{
    margin: 0 auto;
    max-width: 900px;
}

p .bold{
    font-weight: 600;
}

.cabecalho__container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 100%;
}

.cabecalho__container h1{
    font-family: var(--fnt-titulo);
    font-size: 2rem;
    color: var(--color-theme3);
}

.cardapio__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.cardapio__container h2{
    display: block;
    width: 100%;
    text-align: center;
    font-family: var(--fnt-titulo);
    font-size: 1.2rem;
    background-color: var(--color-theme1);
    color: var(--color-theme4);
    line-height: 1.2rem;
    padding: 0.5rem;
}

.cardapio__pesquisa{
    width: 100%;
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: 2fr 1fr;
    padding:  0.5rem 0.5rem;

}

.cardapio__pesquisa input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-gray2);
}


.botao, .botao__avancar{
    background-color: var(--color-theme1);
    color: var(--color-theme4);
    border: none;
    border-radius: 0.5rem;
}

.botao{
    padding: 0.5rem 1rem;
}

.botao__avancar{
    padding: 1rem 1rem;
    position: fixed;
    bottom: 1rem;
}

.cardapio__lista{
    padding: 0 0.5rem 4rem;
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
}

.cardapio__item{
    display: flex;
    background-color: var(--color-theme4);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0 0;
    width: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.cardapio__item input{
    margin: 0 1rem;
}

.cardapio__item label{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.cardapio__item label img{
    width: 5.5rem;
}

.cardapio__item h3{
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.cardapio__item p{
    font-size: 0.8rem;
}

.pedido__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-theme4);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0 4rem;
    width: 95%;
}
.pedido__container img{
    width: 50%;
    max-width: 15rem;
}
.pedido__container>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pedido__container h3, .pedido__container h4{
    font-weight: 700;
}

.pedido__container h3{
    font-size: 0.9rem;
    margin-top: 0.5rem;
} 

.pedido__container h4{
    font-size: 0.9rem;
} 
.pedido__container p{
    font-size: 0.8rem;
} 

.pedido__container div ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.pedido__container div ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;
}

.rodape__container{
    display: none;
    background-color: var(--color-theme2);
    text-align: center;
    padding: 0.5rem;
}

@media screen and (min-width:768px) {

    .cabecalho__container h1{
        font-size: 3rem;
    }

    .cardapio__container h2{
        font-size: 1.5rem;
    }

    .cardapio__item h3{
        font-size: 0.9rem;
    }

    .cardapio__item p{
        font-size: 0.9rem;
    }

    .botao__avancar{
        padding: 1rem 1rem;
        position: fixed;
        bottom: 3rem;
        width: 40vw;
    }

    .pedido__container{
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

    .pedido__container img{
        justify-self: end;
        width: auto;
        max-width: 15rem;
    }
}